{% extends 'base/base_advito.html' %}
{% block title %}
{{ page_title }}
{% endblock %}
{% block content %}
<div class="btn-group" role="group" aria-label="Basic outlined example">
    {% for cat in category %}

    <a href="{% url 'advito:choise_category' cat.id %}" class="btn btn-outline-primary">{{ cat.title }}</a>


    {% endfor %}
</div>
            {% if posts %}
                {% for post in posts %}
                    <div class="container">
                        <div class="card" style="width: 40rem;">
<!--                            <a href="{% url 'advito:post_detail' post.id %}">-->
                                <img src='{{post.image.url}}' alt="{{ post.title }}">
<!--                            </a>-->
                            <div class="card-body">
                                <h5 class="card-title">Товар: {{ post.title }}</h5>
                                <p>Цена : {{ post.price }} руб.</p>
                                <p>Категория :
                                    <a href="{% url 'advito:choise_category' post.category.id %}"> {{ post.category.title }}</a>
                                </p>
                                <p>Продавец :
                                    <a href="{% url 'advito:profile' post.author.id %}">  {{ post.author.username }}</a>
                                </p>
                                <a href="{% url 'advito:post_detail' post.id %}" class="btn btn-primary">Присмотреться</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                Постов нет
            {% endif %}
{% endblock content %}

